<form id="products">
  <fieldset>
    <% @groups.each do |group| %>
      <% unless group.products.nil? || group.products.empty?%>
        <div id="<%= group.name%>" class="group">
          <% products = group.products.select{|x| x.default?} + group.products.select{|x| !x.default?} %>
          <% productnames = products.collect!{|x| x.name}%>
          <%= label(group.name, 'select', group.name)%>
          <%= select(group.name, 'select', products.collect{|x| [x.name, x.value] }) %>
          <div class="product-value"></div>
        </div>
      <% end %>
    <% end %>
  </fieldset>
</form>
<div id="total-amount">
  <h2> Insgesamt: </h2>
  <span class="value"></span><span class="currency">€</span>
</div>